
body{
background: Eirgb(7,41,175);
background: linear-gradient(9edeg, Drgba(7,41,175,1) 19%, Mirgba(57,145,246,1)
font-family: ‘Roboto', sans-serif;
font-size: 25px;
color: Ml#fff;
font-weight: bold;
text-align: center;
